/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CUSTOM CSS */

body {
  margin: 0;
  padding: 2px;
  font-family: sans-serif;
}

.hbox {
	border: 2px solid gray;
	margin: 2px;
	margin-bottom: 6px;
}

.hbox-head {
	padding: 2px;
	border-bottom: 2px solid gray;
	background-color: silver;
	color: gray;
	font-size: 80%;

}

.hbox-body {
	padding: 4px;
}

.hbox-body div {
	margin-bottom: 4px;
}

.data-entry {
	margin-bottom: 4px;
	display: flex;
}

.data-entry button {
	border: 2px solid gray;
	background-color: silver;
	color: gray;
	margin-right: 4px;
}

.data-entry span {
	vertical-align: middle;
}

.data-entry span span {
	font-size: 80%;
	color: gray;
}

.bits-entry {
	margin-bottom: 4px;
	font-size: 80%;
	font-family: "monospace";
}

.settings-choice {
	margin-bottom: 4px;
}

.col-1-3-L {
	float: left;
	width: 33%;
}

.col-2-3-R {
	float: right;
	width: 66%;
}

a:link.dl-button,
a:visited.dl-button,
a:hover.dl-button,
a:active.dl-button {
	color: black;
	background-color:silver;
	padding: 2px;
	margin: 4px;
	text-decoration: none;
	font-size: 85%;
}

